<!--<extend name="Public/base"/>-->

<block name="head">
    <link rel="stylesheet" href="__CSS__register.css" />

    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>

</block>

<block name="main">

    <div class="loginBox" style="background: url(__IMAGES__findpsd_box_bg.png) no-repeat">
        <form action="{:U('User/Findpsd/changepsd')}" method="post" enctype="multipart/form-data" style="margin-top: 150px">
            <ul class="enroll-info">
                <li>
                    <input type="password" name="password"  required="" style="width:60%;margin-left: 20%;border-radius: 0px " placeholder="请输入密码"/>
                </li>
                <li>
                    <input type="password" name="ag_password" required="" style="width:60%;margin-left: 20%;border-radius: 0px" placeholder="请再次输入密码" />
                </li>
                <li class="isCheckbox">
                    <input type="hidden" value="{$user_name}" name="user_name">
                    <input type="submit" name="" id="isSubmit" value="修改密码" style="width: 60%;border-radius: 0px"/>
                </li>
            </ul>
        </form>
        <a href="{:U('User/Index/login_page')}" style="float: right;margin: 20px">已有账号？去登录&gt;</a>
    </div>
    <script>
        $('form').submit(function(){
            $('input[type="submit"]').attr('disabled','')
        });
    </script>
</block>