<!--尾部-->
<div class="footer">
    <div class="footer-container">
        <div class="qr-code">
            <p>微信公众号</p>
            <img src="__IMAGES__qr-code.jpg" width="96px" height="96px"/>
        </div>
        <ul class="footer-nav">
            <li>
                <a href="{:U('Scene/Index/video')}">应用场景</a>|
            </li>
            <li>
                <a href="{:U('Service/Index/Index')}">产品服务</a>|
            </li>
            <li>
                <a href="{:U('Caseinfo/Index/index')}">精彩案例</a>|
            </li>
            <li>
                <a href="{:U('Solution/Index/index')}">帮助中心</a>
            </li>
        </ul>
        <!--<div class="footer-copyright">-->
            <!--<span>网络文化经营许可证 粤网文[2016]4583-1081号</span>-->
            <!--<span>节目制作经营许可证 粤字01735号</span>-->
        <!--</div>-->
        <!--<p class="footer-copyright">© 2016 龙眼传媒有限公司 粤ICP备16011165号 ALL Right Reserver</p>-->
    </div>
</div>
