<extend name="public/wechatBase"/>
<block name="head">
    <link rel="stylesheet" href="__WECHAT__css/vendor/swiper.min.css" />
    <link rel="stylesheet" href="__WECHAT__css/vendor/cityPicker.css" />
    <link rel="stylesheet" href="__WECHAT__css/css.css" />
    <link rel="stylesheet" href="__WECHAT__css/index.css" />
    <script src="__WECHAT__js/more_region.js"></script>
    <script src="__WECHAT__js/cityPicker.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=f0711cdaf832a9452e5e68fb80ce33e7"></script>
    <script src="__WECHAT__js/location.js"></script>
    <style>
        .region .city-search{
            background: url(__WECHAT__images/icon/spinner.png) right center no-repeat;
            background-size: .22rem .12rem;
        }
        .region .search-submit{
            background: url(__WECHAT__images/icon/search.png) no-repeat;
            background-size: 100% 100%;
        }
    </style>
</block>
<block name="main">
    <!--搜索-->
    <div class="search region" >
        <form action="{:U('WechatIndex/Index/location')}" method="post">
            <div class="search-area">
                <div class="city-search">
                    <div class="city-search-box"></div>
                    <input type="text" class="city" value="定位中" readonly>
                </div>
                <div class="city-text">
                    <input type="text" class="search-text" name="title" id="" value="{$title}" placeholder="请输入标题" />
                    <input type="submit" class="search-submit" value="" />
                </div>
            </div>
        </form>
    </div>

    <!--<button onclick="showCityInfo()">测试</button>-->
    <!--直播列表-->
    <div class="index-list-container" name="roomList">
        <volist name="room" id="vo">
            <div class="index-list">
                <a href="{$vo.alink}" name="view_count">
                    <input type="hidden" value="{$vo[room_id]}">
                    <img src="__ROOT__/Administrator/Res/Uploads/live_room/{$vo.image}" >
                </a>
                <p class="index-list-eye">
                    {$vo.view_count}
                </p>
                <p class="index-list-time">
                    {$vo.start_time}
                </p>
                <div class="index-list-href">
                    <p class="index-list-brief">{$vo.title}</p>
                    <if condition="$vo[status]==2">
                        <a class="underway" href="javascript:void(0)">
                            直播中
                        </a>
                        <elseif condition="$vo[status]==1" />
                        <a class="trailer" href="javascript:void(0)">
                            预告
                        </a>
                        <else/>
                        <a class="playback" href="javascript:void(0)">
                            回放
                        </a>
                    </if>
                </div>
            </div>
        </volist>
    </div>
    <input type="hidden" name="city_id" value="{$city_id}">
    <!--<button value="2" name="more" style="position: relative;bottom: 0.8rem;;left: 3.2rem;color: white;background-color: #c81914;border: 1px solid #adadad;">加载更多</button>-->

    <if condition="$isempty==1">
        <div class="loading_done" name="more" >
            <p>暂时没有数据</p>
        </div>
        <else/>
        <div class="loading" name="more" >
            <input type="hidden" value="2" name="number">
            <p>点击加载更多</p>
        </div>
    </if>

</block>
<block name="bottom">
    {:\\Onemla\\OnemlaHelper::W('Footer/wechatIndex')}


    <script>
        var session = "{:session('')}";

        var cityWidth=$(".city-search").outerWidth(true)+10;
        var textWidth=$(".search-area").width();
        var textWidths=textWidth-cityWidth;
        var htmlSize=parseInt($('html').css('font-size'))
        $(".city-text").css({'width':textWidths/htmlSize+'rem'});
        console.log(htmlSize);
        $(".city").CityPicker();
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 5,//横
            slidesPerColumn: 2,//纵
//      spaceBetween: 10
        });
        $(function(){
            $('footer').find('a').eq(0).attr('class','footer-nav-home');
            $('footer').find('a').eq(1).attr('class','footer-nav-nature');
            $('footer').find('a').eq(2).attr('class','footer-nav-region active');
            $('footer').find('a').eq(3).attr('class','footer-nav-liveRoom');

            $('footer').find('img').eq(0).attr('src','__WECHAT__images/icon/home.png');
            $('footer').find('img').eq(1).attr('src','__WECHAT__images/icon/nature.png');
            $('footer').find('img').eq(2).attr('src','__WECHAT__images/icon/region-active.png');
            $('footer').find('img').eq(3).attr('src','__WECHAT__images/icon/Live-room.png');
        });
    </script>
</block>