<!--<extend name="Public/base"/>-->

<block name='head'>

</block>

<block name="main">
    <div id="main">
        {:\\Onemla\\OnemlaHelper::W('Menu/Index')}
        <div id="box" class="flex">
            {:\\Onemla\\OnemlaHelper::W('Menu/Left_Menu')}
            <div id="content">
                <p class="location flex">
                    <span class="icon menu_icon"></span>
                    会员信息
                    <i class="gt">&gt;</i>
                    <span class="skin_color">密码设置</span>
                </p>
                <div class="essential skin_bg">
                    密码设置
                </div>
                <form action="{:U('Member/Index/editPassword')}" method="post">
                    <ul class="essential-box">
                        <li class="essential-number">
                            <span>原密码：</span>
                            <input type="password" name="old_password" value="{$info['id']}" required="" />
                        </li>
                        <li class="essential-title">
                            <span>新密码：</span>
                            <input type="password" name="password" value="{$info['user_name']}" required="" />
                        </li>
                        <li class="essential-state">
                            <span>再次输入密码：</span>
                            <input type="password" name="ag_password" value="{$info[phone]}" required="" />
                        </li>
                        <li class="bt">
                        </li>
                    </ul>
                    <input type="submit" id="info-submit" name="" value="提交" />

                </form>
            </div>
            <!-- box end -->
        </div>
        <!-- main end -->
        <script>
            $('form').submit(function(){
                $('.submit_load').show();
                $('input[type="submit"]').attr('disabled','')
            });

        </script>
    </div>
</block>