<extend name="Public/base2"/>
<block name="head">
	<link rel="stylesheet" href="__CSS__css.css" />
	<link rel="stylesheet" href="__CSS__service.css" />
	<script type="text/javascript" src="__JAVASCRIPTS__jquery-3.0.0.min.js" ></script>
</block>

<block name="menu">
	{:\\Onemla\\OnemlaHelper::W('Menu/Index')}
</block>

<block name="main">
	<!--banner-->
	<div class="banner">
		<div class="banner-font">
			<p class="banner-title">
				一站式直播解决方案
			</p>
			<p class="banner-text">
				直播家提供的不止是全程直播拍摄，更是专业的直播整套解决方案，帮你快速拓展业务，宣传知名度，了解直播家有哪些配套服务
			</p>
		</div>
	</div>
	<!--直播控制台-->
	<div class="service control">
		<div class="service-title">
			H5直播界面
		</div>
		<p class="service-brief">
			互联+时代下的新套路，颠覆性新体验
		</p>
		<p class="service-text">
			使用html5框架开发，满足多种功能集成于一体，拥有多个版本任意选择，深耕场景丰富性与开放性，全面降低直播平台开发的技术门槛
		</p>
		<div class="service-content">
			<div class="service-content-img">
				<img src="__IMAGES__service-img-01.png"/>
			</div>
			<ul class="service-list">
				<li>
					上下双导航条布局，更多内容展示，比普通通用的h5软件更多的功能。
				</li>
				<li>
					三维表述，吸引读者不断阅读，展示内容的精彩
				</li>
				<li>
					方式新颖，吸引读者直觉转发，形成病毒性传播。
				</li>
				<li>
					转发面宽广，可以转发到朋友圈，微信群，或者以点击超链接按钮触发
				</li>
				<li>
					视觉听觉触觉体验搞笑，生动，活泼，强烈，能让用户不自觉地接受了信息
				</li>
				<li>
					支持图文直播，可通过授权管理员上传文字+图片+短视频的多元组合
				</li>
				<li>
					界面样式支持高程度的定制化，无需微信公众号授权，直接观看直播视频
				</li>
			</ul>
		</div>
	</div>
	<!--互动功能-->
	<div class="service">
		<div class="service-title interaction-title">
			互动功能
		</div>
		<p class="service-brief">
			创意互动新系列，玩转朋友圈
		</p>
		<p class="service-text">
			直播家的创意互动，集投票、竞猜、打赏、红包于一体的全新体验的新突破。使用直播家·互动功能，能带来全新的用户体验，丰富你我他之间的交流，虽远在天边但却有感在眼前
		</p>
		<div class="service-content interaction-content">
			<div class="service-content-img">
				<img src="__IMAGES__service-img-02.png"/>
			</div>
			<ul class="service-list">
				<li>
					直播中抢红包，引导观众传播扩散活动影响力
				</li>
				<li>
					活动报名，解决了线下字质填写报名表的麻烦， 打破了区域空间与时间的限制
				</li>
				<li>
					超级投票，支持个性化投票模块和投票介绍的多元化设置，能单独转发自己投票链接。
				</li>
				<li>
					抽奖功能，激发观众参与和分享，奖品支持个性化设置
				</li>
				<li>
					竞猜，引导参加活动的队伍疯狂的拉票，可以井喷式的增长活动趣味性、娱乐性和关注量
				</li>
				<li>
					打赏，网络土豪的炫富模式，实现用户的自我满足的同时也让运营商日进斗金
				</li>
				<li>
					支持互动功能的丰富组合，实现“1+1>2”
				</li>
			</ul>
		</div>
	</div>
	<!--全景云导直播-->
	<div class="service ">
		<div class="service-title">
			云导播台
		</div>
		<p class="service-brief">
			提供推流到播放，全流程，端到端的一站式视频服务
		</p>
		<p class="service-text">
			全景云导播台是基于云端的视频导播、事编应用，可以帮助直播实现线上音、视频切换，画面重组，台标、字幕、动画效果融合等观看效果。
		</p>
		<div class="service-content video-content">
			<div class="service-content-img">
				<img src="__IMAGES__service-img-03.png"/>
			</div>
			<ul class="service-list">
				<li>
					支持多地址推送
				</li>
				<li>
					RTMP、HLS协议直播、观看
				</li>
				<li>
					4K级画质，不压缩视频质量
				</li>
				<li>
					直播场景自定义
				</li>
				<li>
					云端操作，从此网速无压力
				</li>
				<li>
					实时存储直播历史视频
				</li>
			</ul>
		</div>
	</div>
	<!--VR播放器-->
	<div class="service">
		<div class="service-title player-title">
			在线剪辑
		</div>
		<p class="service-text">
			现场文稿+在线剪辑视频=高时效融媒体头条
		</p>
		<div class="service-content player-content">
			<div class="service-content-img">
				<img src="__IMAGES__service-img-04.png"/>
			</div>
			<ul class="service-list">
				<li>
					云端专业剪辑，轻松实现小视频合集
				</li>
				<li>
					有利于传播，也有利于提高活动影响力
				</li>
				<li>
					一“剪”领先同行企业，赢在起跑线
				</li>
				<li>
					精彩短视频，生成GIF图片疯狂转播
				</li>
				<li>
					做好一篇图文并茂、有视频有真相的好文章不再是难事
				</li>
				<li>
					高时效性的融媒体，具有高传播力，可以秒杀大部分媒体
				</li>
			</ul>
		</div>
	</div>
</block>

<block name="footer">
	{:\\Onemla\\OnemlaHelper::W('Footer/Index')}
	<script type="text/javascript" src="__JAVASCRIPTS__js.js" ></script>
	<script>
		$('.nav li').attr('class','');
		$('.nav li').eq(2).attr('class','active');
	</script>
</block>


