<extend name="Public/base2"/>
<block name="head">
	<script type="text/javascript" src="__JAVASCRIPTS__jquery-3.0.0.min.js" ></script>
	<link rel="stylesheet" href="__CSS__css.css" />
	<link rel="stylesheet" href="__CSS__scene.css" />
</block>
<block name="menu">
	{:\\Onemla\\OnemlaHelper::W('Menu/Index')}
</block>

<block name="main">
	<div class="banner" style="background: url(__IMAGES__scene-school.jpg) no-repeat 50% 50%;">
	</div>

	<div class="scene-title">
		<ul class="scene-title-box">
			<li>
				<a href="{:U('Scene/Index/video')}">
					<div class="scene-title-container">
								<span>
									<img src="__IMAGES__icon/scene-video.png"/>
								</span>
						<p>活动直播平台</p>
					</div>

				</a>
			</li>
			<li >
				<a href="{:U('Scene/Index/running')}">
					<div class="scene-title-container">
								<span>
									<img src="__IMAGES__icon/scene-running.png"/>
								</span>
						<p>体育直播平台</p>
					</div>
				</a>
			</li>
			<li>
				<a href="{:U('Scene/Index/study')}">
					<div class="scene-title-container">
								<span>
									<img src="__IMAGES__icon/scene-graph.png"/>
								</span>
						<p>教育直播平台</p>
					</div>
				</a>
			</li>
			<li class="active school-active">
				<a href="{:U('Scene/Index/school')}">
					<div class="scene-title-container">
								<span>
									<img src="__IMAGES__icon/scene-education.png"/>
								</span>
						<p>校企直播平台</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="scene-container">
		<div class="scene-container-brief school-container-brief">
			<p>直播家在去年一年内给不少企校提供了专业直播活动，包括宣讲会、招聘会</p>
			<p> 企校直播深受老师和学生喜欢，同时也为企业的招聘工作的开展实现了互联网的形式。让不能在现场的同学也能得到相关信息，实现资源共享。</p>
		</div>
	</div>
</block>

<block name="footer">
	{:\\Onemla\\OnemlaHelper::W('Footer/Index')}
	<script type="text/javascript" src="__JAVASCRIPTS__js.js" ></script>
	<script>
		var imgsrc= $(".scene-title-box li.active img")[0].src;
		var n=imgsrc.replace(/.png/, "-active.png")
		$(".scene-title-box li.active img").attr('src',n);

		$('.nav li').attr('class','');
		$('.nav li').eq(1).attr('class','active');
	</script>
</block>


