<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <title>直播家</title>
        {:\\Onemla\\OnemlaHelper::getDocument()->fetchHead()}
    <block name="head"></block>
</head>
<body>
<!--<div class="submit_load">-->
    <!--<img src="__IMAGES__load.png" />-->
    <!--<span>正在提交，请等待</span>-->
<!--</div>-->
<block name="menu"></block>
<div class="container">
        <block name="main"></block>
        <block name="footer"></block>
</div>
<block name="bottom"></block>
</body>
</html>