
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="format-detection" content="telephone=no" />
        <title>直播家后台</title>
        <script type="text/javascript" src="__JAVASCRIPTS__jquery.min.js" ></script>
        <script type="text/javascript" src="__JAVASCRIPTS__bootstrap.min.js" ></script> 
        <script type="text/javascript" src="__JAVASCRIPTS__js.cookie.js" ></script>
        <script type="text/javascript" src="__JAVASCRIPTS__sub.js" ></script>
        <link rel="stylesheet" href="__CSS__bootstrap.min.css" />
        <link rel="stylesheet" href="__CSS__css.css" />
        <link rel="stylesheet" href="__CSS__style.css" />
        <script type="text/javascript" src="__JAVASCRIPTS__sweetalert.min.js" ></script>
        <link rel="stylesheet" href="__CSS__sweetalert.css" />

        {:\\Onemla\\OnemlaHelper::getDocument()->fetchHead()}
    <block name="head"></block>
</head>

<body>
<div class="submit_load" style="">
    <div>
        <img src="__IMAGES__load.png"  />
        <span >正在提交，请等待</span>
    </div>
</div>
<block name="menu"></block>
<block name="main"></block>
<block name="footer"></block>
<block name="bottom"></block>

</body>
</html>